.circularimage
{
    border-radius:100%;
    max-height:150px;
    display:block;
    margin:0 auto;
    background-repeat: no-repeat;
    background-size: contain;
}
body{
    background-image:url('./images/background.jpg');
    overflow-x: hidden;
}
 .white
{
    color:#fff;
}
.heading
{
    color:#fff;
}
